<template name="securityLabels">

	{{#if securityLabelsInitialized}}

	<div class="input-line">
		<label for="classification-labels">{{classificationTitle}}</label>
		{{> inputAutocomplete settings=classificationAutocompleteSettings id="classification-labels" class="search"}}
	</div>

	<div class="input-line">
		<label for="sap-labels">{{sapTitle}}</label>
		{{> inputAutocomplete settings=sapAutocompleteSettings id="sap-labels" class="search"}}

		<ul class="selected-labels">
		{{#each selectedSapLabels}}
			<li>{{sapLabel}} <i class="icon-cancel remove-sap-label"></i></li>
		{{/each}}
		</ul>

	</div>

	<div class="input-line">
		<label for="sci-labels">{{sciTitle}}</label>
		{{> inputAutocomplete settings=sciAutocompleteSettings id="sci-labels" class="search"}}

		<ul class="selected-labels">
		{{#each selectedSciLabels}}
			<li>{{sciLabel}} <i class="icon-cancel remove-sci-label"></i></li>
		{{/each}}
		</ul>

	</div>

	<div class="input-line">
		<label for="relto-labels">{{reltoTitle}}</label>
		{{> inputAutocomplete settings=reltoAutocompleteSettings id="relto-labels" class="search"}}

		<ul class="selected-labels">
		{{#each selectedReltoLabels}}
			<li>{{reltoLabel}} <i class="icon-cancel remove-relto-label"></i></li>
		{{/each}}
		</ul>

	</div>
	{{/if}}

</template>