<template name="loginForm">
	<form id="login-card" method='/'>
		{{#if waitActivation}}
			<header>
				<h2>{{{_ "Registration_Succeeded"}}}</h2>
				<p>{{{_ "Wait_activation_warning"}}}</p>
				<p>{{{_ "Please_wait_activation"}}}</p>
			</header>
		{{else}}
			{{#if needsValidateEmail}}
				<div class="alert alert-danger">
					{{_ "You_need_confirm_email"}}
				</div>
			{{/if}}
			<div class="fields">
				<div class='input-text active'>
					<input type="text" name='emailOrUsername' placeholder='{{_ "Email_or_username"}}' autocapitalize="off" autocorrect="off" />
				</div>
				<div class='input-text active'>
					<input type="password" name='pass' placeholder='{{_ "Password"}}' />
				</div>
			</div>
			<div class="submit">
				<button data-loading-text="{{_ "Please_wait"}}..." class='button primary login'><span>{{btnLoginSave}}</span></button>
			</div>
		{{/if}}
	</form>
	<div class='login-terms'>
		By proceeding to create your account and use Chat-Locker, you are agreeing to our <a href="/terms-of-service">Terms of Service</a> and <a href="/privacy-policy">Privacy Policy</a>. If you do not agree, you cannot use Chat-Locker.
	</div>
</template>
